#hero-section {
  min-height: 100vh;
  min-width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(var(--spacing-28), 5vw, var(--spacing-80));

  .hero-image {
    max-height: 100vh;
    object-fit: cover;
    z-index: 1;
    user-select: none;
  }
}

#sections-container {
  margin-inline: auto;
  padding-inline: var(--spacing-24);
  display: grid;
  gap: var(--spacing-44);
  padding-bottom: var(--spacing-56);
}

#features-section {
  padding-top: var(--spacing-28);
}
