#main-header {
  z-index: 2;
  display: grid;
  gap: var(--spacing-16);
  padding-top: clamp(var(--spacing-8), 3vw, var(--spacing-20));
  padding-inline: clamp(var(--spacing-12), 3vw, var(--spacing-20));
  width: min(100%, 1280px);

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;

    & :first-child {
      display: flex;
      align-items: center;
      gap: var(--spacing-4);
    }

    & :last-child {
      display: flex;
      align-items: center;
      gap: var(--spacing-16);

      > *:not([data-slot="separator"]) {
        display: flex;
        align-items: center;
        gap: var(--spacing-4);
      }

      [data-slot="separator"] {
        height: var(--spacing-10);
        width: 1px;
        background: var(--foreground);
      }

      .flag {
        width: var(--spacing-16);
        height: var(--spacing-16);
        position: relative;
        overflow: hidden;
        border-radius: var(--radius-rounded);

        img {
          object-fit: cover;
        }
      }
    }

    @media (width <= 1024px) {
      display: none;
    }
  }

  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--spacing-28);
    row-gap: var(--spacing-8);

    background: var(--background);
    min-height: var(--spacing-80);
    padding: var(--spacing-10) clamp(var(--spacing-10), 3vw, var(--spacing-20));
    box-shadow: var(--shadow);
    border-radius: var(--radius-lg);

    .navigation-menu {
      .categories-trigger {
        color: var(--org-10);
      }

      .categories-link {
        text-wrap: nowrap;
      }

      .nav-link {
        color: var(--foreground);
        &:hover {
          color: var(--org-9);
        }
      }

      @media (width <= 1024px) {
        display: none;
      }
    }

    .search-bar {
      position: relative;
      width: 60%;

      svg {
        position: absolute;
        top: 50%;
        left: var(--spacing-12);
        transform: translateY(-50%);
        color: var(--foreground);
      }

      ::placeholder {
        font-size: 14px;
        padding-left: var(--spacing-24);
      }

      @media (width >= 1024px) {
        display: none;
      }

      @media (width <= 640px) {
        order: 3;
        flex: 100%;
      }
    }

    .logo {
      @media (width <= 640px) {
        flex: 1;
      }
    }

    .right-section {
      display: flex;
      align-items: center;
      justify-content: end;

      .-web {
        display: flex;
        align-items: center;
        gap: var(--spacing-24);

        .nav-actions {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);

          svg {
            cursor: pointer;
            stroke-width: 1.5;
            color: var(--foreground);

            &:hover {
              color: var(--org-9);
            }
          }

          .cart-wrapper {
            position: relative;

            .cart-badge {
              position: absolute;
              top: -8px;
              right: -8px;
              background: #ff0000;
              color: white;
              font-size: 10px;
              padding: 2px 6px;
              border-radius: 28px;
              min-width: 17px;
              height: 17px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .user-session {
          display: flex;
          align-items: center;
          gap: var(--spacing-8);
          font-size: 14px;

          .icon {
            width: var(--spacing-44);
            height: var(--spacing-44);
            background: var(--org-3);
            border-radius: var(--radius-rounded);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              color: var(--org-9);
            }
          }

          @media (width <= 1024px) {
            display: none;
          }
        }

        .search-icon {
          @media (width <= 1024px) {
            display: none;
          }
        }

        .user-icon {
          display: none;
          @media (width <= 1024px) {
            display: block;
          }
        }
      }

      .-mobile {
        display: none;

        .menu-button {
          display: grid;
          place-content: center;
          margin-left: var(--spacing-8);
        }

        @media (width <= 1024px) {
          display: block;
        }
      }

      @media (width <= 640px) {
        order: 2;
        flex: 1;
      }
    }
  }
}

#mobile-navigation-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
  margin-top: var(--spacing-16);

  .navigation-section {
    display: grid;
    gap: var(--spacing-4);

    h3 {
      color: var(--org-9);
    }

    .categories-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-6);

      svg {
        color: inherit;
      }
    }
  }

  .navigation-menu {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
}
